<!DOCTYPE html>
<html>
<style>
  #render_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    text-align:center;
    background-color: white;
    border: solid .5px black;
  }
  #render_button {
    background-color: white;
    border:solid .5px black;
  }
</style>
<div class="input-group" id="render_box">
  <h6 style="text-align:center">Render Views</h6>
  <input type="checkbox" id="Angle1">
  <label for="Angle1">Angle 1</label><br>
  <input type="checkbox" id="Angle2">
  <label for="Angle2">Angle 2</label><br>
  <input type="checkbox" id="Angle3">
  <label for="Angle3">Angle 3</label><br>
  <input type="checkbox" id="Angle4">
  <label for="Angle4">Angle 4</label><br>
  <span>
  <button class="btn btn-default" type="button" id="render_button">Render</button>
  </span>
</div>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <title>Gallery Designer</title>
</head>

<body>
  <h1>Hello World!</h1>
  We are using Node.js <span id="node-version"></span>,
  Chromium <span id="chrome-version"></span>,
  and Electron <span id="electron-version"></span>.

  <!-- You can also require other files to run in this process -->
  <script src="./renderer.js"></script>
  <script src="renderViews.js"></script>
</body>

</html>