<!DOCTYPE html>
<html>
<style>
  #render_box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    text-align:right;
  }
</style>

<select id="render_box" >
  <option>Angle 1</option>
  <option>Angle 2</option>
  <option>Angle 3</option>
  <option>Angle 4</option>
</select>
<head>
  <meta charset="UTF-8">
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <title>Gallery Designer</title>
</head>

<body>
  <h1>Hello World!</h1>
  We are using Node.js <span id="node-version"></span>,
  Chromium <span id="chrome-version"></span>,
  and Electron <span id="electron-version"></span>.

  <!-- You can also require other files to run in this process -->
  <script src="./renderer.js"></script>
</body>

</html>